.loder_back{
	
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 999999;
  top: 0;
  left: 0;
  background-color: #fff;
	opacity: 0.8;
}
.loder {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  position: relative;
  top:45%;
      left: 48%;

  width: 60px;
  height: 60px;
  -webkit-animation: spin 0.5s linear infinite; /* Safari */
  animation: spin 0.5s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@media only screen and  (max-width: 620px)  {
    .loder{
	top:45%;
      left: 44%;
  width: 60px;
  height: 60px;
}
}